<div id="home">
  <!-- NOTE: The div tags here MUST but up against the link_to tag to prevent additional linking whitespace from rendering. -->
  <%= link_to survey_type_path(@new_patient) do %><div class="btn new">
      <div class="centerer"></div>
      <div class="label">New<br/>Patient</div>
    </div><% end %>

  <%= link_to @returning_patient do %><div class="btn returning">
      <div class="centerer"></div>
      <div class="label">Returning<br/>Patient</div>
    </div><% end %>
</div>
