<div id="home">
  <%= link_to new_patient_personal_path do %><div class="btn new">
      <div class="centerer"></div>
      <div class="label">New<br/>Patient</div>
    </div>
  <% end %>

  <%= link_to returning_patient_personal_path do %><div class="btn returning">
      <div class="centerer"></div>
      <div class="label">Returning<br/>Patient</div>
    </div>
  <% end %>
</div>
