/**
 * Place all styles related to the New Patient views here.
 */





/*  --- Life Details Page ---  */

#page-body form#new-life-details .question {
    margin-left: 3%;
}



/*  --- Health Details Page ---  */

#page-body form#new-health-details .question {
    width: 70%;
    min-width: 30em;
    margin: 0 auto;
}
#page-body form#new-health-details .question>label {
    min-width: 12em;
}
#page-body form#new-health-details .question .response {
    min-width: 12em;
}