/**
 * Place all styles related to the New Patient views here.
 */


/*  --- Personal Details Page ---  */

form#personal-details .question.diagnosis .response textarea {
    width: 100%;
    height: 5em;
}


/*  --- Tumor Details Page ---  */

form#tumor-details .question.chemo-type .response input {
    width: 100%;
}
form#tumor-details .question.steroid-dose .response .dose {
    display: inline-block;
}
form#tumor-details .question.steroid-dose .response .unknown {
    display: inline-block;
    margin-left: 1em;
}
form#tumor-details .question.steroid-dose .response .dose input {
    width: 4em;
}
form#tumor-details .question.steroid-dose .response .unkown input {
    display: inline-block;
}
form#tumor-details .question.steroid-dose .response .unknown label {
    display: inline-block;
    width: initial;
    min-width: 0;
}



/*  --- Life Details Page ---  */

#page-body form#life-details .question {
    margin-left: 3%;
}



/*  --- Health Details Page ---  */

#page-body form#health-details .question {
    width: 70%;
    min-width: 30em;
    margin: 0 auto;
}
#page-body form#health-details .question>label {
    min-width: 12em;
}
#page-body form#health-details .question .response {
    min-width: 12em;
}